[project]
name = "statedict2pytree"
version = "0.3.0"
description = "Converts torch models into PyTrees for Equinox"
readme = "README.md"
requires-python = "~=3.10"
authors = [{ name = "Artur A. Galstyan", email = "mail@arturgalstyan.dev" }]
dependencies = [
    "jax",
    "equinox>=0.11.4",
    "jaxlib",
    "beartype",
    "typing_extensions",
    "loguru",
    "jaxtyping",
    "torch",
    "flask",
    "pydantic",
    "penzai",
]
[project.optional-dependencies]
dev = ["nox", "pre-commit", "pytest", "mkdocs"]

[tool.ruff]
extend-include = ["*.ipynb"]
src = []

[tool.ruff.lint]
fixable = ["I001", "F401"]
ignore = ["E402", "E721", "E731", "E741", "F722"]
ignore-init-module-imports = true
select = ["E", "F", "I001"]

[tool.ruff.lint.isort]
combine-as-imports = true
extra-standard-library = ["typing_extensions"]
lines-after-imports = 2
order-by-type = false

[tool.pyright]
reportIncompatibleMethodOverride = true
reportMissingImports = false
include = ["statedict2pytree", "tests"]
exclude = ["testing_ground", "examples"]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
